@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* reset css */
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
:root{
    --dark-color-bg: #121212;
    --dark-primary-color: #1E1E1E;
    --dark-secondary-color: #BB86FC;
    --dark-btn--color: #03DAC6;
    --dark-text-color: rgba(255, 255, 255, 0.8);
}

body{  
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    background-color: var(--dark-color-bg);
    color: var(--dark-text-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}
#equals{
    background-color:var(--dark-secondary-color);
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
#result{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}