@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* reset css */
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
:root{
    --dark-color-bg: #121212;
    --dark-primary-color: rgba(0, 0, 0, 0.8);
    --dark-secondary-color: #BB86FC;
    --dark-btn-primary: #3C4042;
    --dark-btn-secondary: rgb(31,31,31);
    --dark-effect--color: #03DAC6;
}

body{  
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    background-color: var(--dark-color-bg);
    color: var(--dark-text-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container{
  position: absolute;
  background-color: var(--dark-primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 2px 2px 1px rgba(250, 250, 250, 0.131);
}


#equals{
    position: absolute;
    width: 106px;
    top: 82%;
    left: 51%;
    background-color:var(--dark-effect--color);
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: var(--dark-btn-primary);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
.sinal{
    background-color: var(--dark-btn-secondary);
}
.sinal:hover{
    background-color: var(--dark-effect--color);
}

#c{
    position: absolute;
    width: 106px;
    top: 24%;
    right: 7%;

}

#result{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}